!!!
%html
  %head>

    %meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )

    %title ruote - #{item[:title]}

    %script{ :src => "/ruote_website/js/shCore.js" }
    %script{ :src => "/ruote_website/js/shBrushXml.js" }
    %script{ :src => "/ruote_website/js/shBrushBash.js" }
    %script{ :src => "/ruote_website/js/shBrushRuby.js" }
    %script{ :src => "/ruote_website/js/shBrushJScript.js" }
    / %script{ :src => "/js/jquery-1.6.1.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }

    %link{ :href => "/ruote_website/css/reset.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/ruote_website/css/shCore.css", :type => 'text/css', :rel => 'stylesheet' }
    -#%link{ :href => "/css/shThemeDefault.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/ruote_website/css/shThemeRuote.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/ruote_website/css/ruote.css", :type => 'text/css', :rel => 'stylesheet' }
  %body

    #container

      #header
        #header-center
          #header-left
            %a{ :href => '/ruote_website' }
              %img{ :src => '/ruote_website/images/ruote.png' }
            #header-subtitle
              a ruby workflow engine
          #header-right
            -# maybe search, later
            #nav
              %span
                %a{ :title => "documentation", :href => "/ruote_website/documentation.html" }
                  doc
                %a{ :title => "source code", :href => "/ruote_website/source.html" }
                  source
                %a{ :title => "download", :href => "/ruote_website/download.html" }
                  download
                %a.nihongo{ :title => "日本語", :href => "/ja.html" }
                  日本語

      #content
        #content-center
          #sidebar SIDEBAR
          #content-main
            = yield

    #footer
      #footer-center
        %p
          %span#footer-left
            %a{ :href => "https://github.com/jmettraux/ruote_website/issues" } doc issue reporting
            |
            %a{ :href => "https://github.com/jmettraux/ruote_website" } doc source
            | created with
            %a{ :href => "http://nanoc.stoneship.org" } nanoc
            and
            %a{ :href => "http://alexgorbatchev.com/SyntaxHighlighter/" } syntax highlighter
          %span#footer-right
            &copy; 2005-2013 the ruote team

    :javascript

      SyntaxHighlighter.all();
